.component {
  color: var(--wpe--color--white);
  background-color: var(--wpe--color--black);
  padding: 0.5rem 0.8rem !important;
  position: relative;
  margin: 0.5rem !important;
  z-index: 1;
}

.main-flex {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
}

.main-img {
  border-radius: 100%;
}

.main-content {
  h2 {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
  }
  p {
    margin: 0 0 1.5rem 0;
  }
  h4 {
    font-size: 1.5rem;
  }
}

.bold {
  font-weight: bold;
}

@media (min-width: 768px) {
  .main-flex {
    flex-direction: row;
    gap: 4rem;
  }
  .main-content {
    max-width: 64.5%;
  }
}

.bg {
  z-index: -1;
  background-repeat: repeat;
}
